<p>
  Welcome, <%= @user.first_name %>.&nbsp;&nbsp;<%= link_to 'Edit account info', edit_user_path(current_user), :class => 'button' %>
</p>
<p>
  <% if @pending_games.any? %>
    Games that have not yet started:
    <ul>
      <% @pending_games.each do |game| %>
        <li>
          <%= link_to game.name, game %>
          <%= if game.user == current_user then '(Leader)' end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @progressing_games.any? %>
    Games currently in progress:
    <ul>
      <% @progressing_games.each do |game| %>
      <li>
        <%= link_to game.name, game %>
        <%= if game.user == current_user then '(Leader)' end %>
      </li>
      <% end %>
    </ul>
  <% end %>
  <% if @finished_games.any? %>
    Finished games:
    <ul>
      <% @finished_games.each do |game| %>
      <li>
        <%= link_to game.name, game %>
        <%= if game.user == current_user then '(Leader)' end %>
      </li>
      <% end %>
    </ul>
  <% end %>
  <% if @all_games.empty? %>
    You are not currently participating in any games.<br />
    Start a <%= link_to 'new game', new_game_path %> now!
  <% end %>
</p>
