<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prevented this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Choose a name for this game</br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    Some games require additional details for each player about how player
    elimination must take place.  For example, in Killer, every player has a
    taboo word that they must say in order to be eliminated.  If your game uses
    additional details like this, please enter the names of each of the details
    fields below (for Killer, one "Word" field would be required). Leave this
    box empty if you will not be using this feature.
    <br />
    <%= f.text_field :details_columns %>
  </div>

  <div class="field">
    In which format will you input player names?<br />
    <%= f.radio_button :csv_format, 'First, Last', :checked => true %>&nbsp;
    <span class="csv-format-option first-last-option"><em>
      First name, Last name
    </em></span><br />
    <%= f.radio_button :csv_format, 'Last, First', :checked => false %>&nbsp;
    <span class="csv-format-option last-first-option"><em>
      Last name, First name
    </em></span>
  </div>

  <div class="field">
    Enter all the players using the selected format<br />
    <%= f.text_area :csv_sheet %>
  </div>

  <div class="field">
    Choose how the detail fields will be assigned to the players.  If your game
    does not use detail fields, these options are irrelevant.<br />
    <%= f.radio_button :randomization_algorithm, 'None', :checked => true %>&nbsp;
    <span class="randomization-option">
      <strong>No randomization</strong> -
        <em>Leave details assigned to their respective players.</em>
    </span><br />
    <%= f.radio_button :randomization_algorithm, 'Set', :checked => false %>&nbsp;
    <span class="randomization-option">
      <strong>Set randomization</strong> -
        <em>If multiple detail fields exist, treat each group of details as a
        single set, but assign them to random players (if only one detail field
        exists this works the same way as individual randomization).  This
        option should be chosen when the detail fields are correlated.</em>
    </span><br />
    <%= f.radio_button :randomization_algorithm, 'Individual', :checked => false %>&nbsp;
    <span class="randomization-option">
      <strong>Individual randomization</strong> -
        <em>If multiple detail fields exist, randomly assign each of them
        independently.  This option should be chosen when the detail fields are
        unrelated.</em>
    </span>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var addTitle = function(titleValue) {
    $("span.first-last-option em").text("First name, Last name, " + titleValue)
    $("span.last-first-option em").text("Last name, First name, " + titleValue)
    $("#game_csv_format_first_last").val("First, Last, " + titleValue)
    $("#game_csv_format_last_first").val("Last, First, " + titleValue)
  }
  
  var removeTitle = function() {
    $("span.first-last-option em").text("First name, Last name")
    $("span.last-first-option em").text("Last name, First name")
    $("#game_csv_format_first_last").val("First, Last")
    $("#game_csv_format_last_first").val("Last, First")
  }

  $(document).ready(function() {
    var initialTitleValue = $("#game_details_columns").val()
    if (initialTitleValue != "")
      addTitle(initialTitleValue)
    
    $("#game_details_columns").on('input',function() {
      var titleValue = $("#game_details_columns").val()
      if (titleValue == "")
        removeTitle()
      else
        addTitle(titleValue)
    })
  })
</script>