<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prevented this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Choose a name for this game</br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    Do you want to let players sign up for this game or do you want to add a
    list of all the players now?<br />
    <%= f.radio_button :preregistered, false, :checked => (@game.preregistered.nil? or @game.preregistered == false) %>
    <span class="preregistration-option">Let players sign up</span>
    <br />
    <%= f.radio_button :preregistered, true, :checked => (@game.preregistered == true) %>
    <span class="preregistration-option">Enter player names myself</span>
  </div>

  <div id="preregistration-box" class="field slidedown-box">
    <div id="player-input-box">
      If you know your players' cell phone numbers and want to allow them to
      report kills via sms, enter each player's phone number after his or her
      name, separated by a comma (e.g. John Smith, 212-555-1234)
      <br /><br />
      If you do not have all your players' cell phone numbers but want to enable
      this feature, consider letting your players sign up on their own instead.
      <br /><br />
      Enter the player names below, one per line<br />
      <%= f.text_area :player_sheet %>
    </div>
    <br />
    <%= render :partial => 'parameter_lists', :locals => {
      num_params: @num_params,
      default_param_values: @default_param_values
    } %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    <% if @game.preregistered? %>
      $("#preregistration-box").css("display","block")
    <% end %>
    $('#game_preregistered_false').on('change',function() {
      $("#preregistration-box").slideUp("3000")
    })
    $('#game_preregistered_true').on('change',function() {
      $("#preregistration-box").slideDown("3000")
    })
  })
</script>