<div id="header">
  <span id="logo">
    <% if signed_in? or @game.nil? %>
      <%= link_to 'Elimination Circle', root_path %>
    <% else %>
      <%= link_to 'Elimination Circle', root_path(:game => @game.permalink) %>
    <% end %>
  </span>
  <ul>
    <% if signed_in? %>
      <li><%= link_to 'Game ideas', ideas_path, :class => 'button' %></li>
      <li><%= link_to 'Start new game', new_game_path, :class => 'button' %></li>
      <li><%= link_to 'Your profile', user_path(current_user), :class => 'button' %></li>
      <li><%= link_to 'Sign out', signout_path, :method => :delete, :class => 'button' %></li>
    <% elsif @game.nil? %>
      <li><%= link_to 'Game ideas', ideas_path, :class => 'button' %></li>
      <li><%= link_to 'Sign in', signin_path, :class => 'button' %></li>
    <% else %>
      <li><%= link_to 'Game ideas', ideas_path(:game => @game.permalink), :class => 'button' %></li>
      <li><%= link_to 'Sign in', signin_path(:game => @game.permalink), :class => 'button' %></li>
    <% end %>
  </ul>
</div>