<!DOCTYPE html>
<html>
<head>
  <title><%= get_title @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="ctr_<%= controller.controller_name %> act_<%= controller.action_name %>">
  <div id="full-content">
    <%= render 'layouts/header' %>
    <div id="page-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
