<!DOCTYPE html>
<html>
<head>
  <meta name="description"  content="Setting up games with a big circle where each player is targetting another can be difficult.  This site makes it simple.">
  <meta property="og:url"   content="<%= request.original_url %>">
  <meta property="og:title" content="Elimination Circle: A Tool to Help Set up Games where Every Player is a Target"/>
  <meta property="og:type"  content="website" />
  <meta property="og:image" content="<%= asset_url 'alive.png' %>" />
  <meta property="og:description" content="Setting up games with a big circle where each player is targetting another can be difficult.  This site makes it simple." />
  <meta property="fb:admins" content="523609079" />
  
  <title><%= get_title @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
<body class="ctr_<%= controller.controller_name %> act_<%= controller.action_name %>">
  <div id="full-content">
    <%= render 'layouts/header' %>
    <div id="page-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
